*.DS_Store
/build
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/misc.xml
.idea/modules.xml
.idea/sysy-make-template.iml
.idea/misc.xml
.idea/misc.xml
.idea/misc.xml
b.out
final.out
hello
hello.c
hello.koopa
hello.o
hello.out
hello.pl
sysy-runtime-lib-master/.clang-format
sysy-runtime-lib-master/LICENSE
sysy-runtime-lib-master/Makefile
sysy-runtime-lib-master/README.md
sysy-runtime-lib-master/src/nolibc/crt.c
sysy-runtime-lib-master/src/nolibc/io.c
sysy-runtime-lib-master/src/nolibc/io.h
sysy-runtime-lib-master/src/nolibc/sys.h
sysy-runtime-lib-master/src/nolibc/time.c
sysy-runtime-lib-master/src/nolibc/time.h
sysy-runtime-lib-master/src/nolibc/types.h
sysy-runtime-lib-master/src/sysy.c
sysy-runtime-lib-master/src/sysy.h
sysy-runtime-lib-master/test/test.c
sysy-runtime-lib-master/test/test.in
t.out
